target_app_for_ocr_test/target_app_for_ocr_test/
playground/bin/Debug/Reports/
playground/Reports/playground_20231023_145611.rxlog.lnk
playground/Reports/playground_20231023_145753.rxlog.lnk
target_app_for_ocr_test/.vs/target_app_for_ocr_test/v16/Server/sqlite3/db.lock
playground/Reports/
playground/bin/Debug/playground.exe
